﻿**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin/Debug
**/bin/x64
**/bin/x86
**/obj
**/charts
**/docker-compose*
**/compose*
**/.toolstarget
**/.classpath
**/.project
**/.settings
**/Dockerfile*
**/*.log
**/*.md
**/.DS_Store
LICENSE
README.md
**/node_modules
**/.env
**/docker-init

# Allow bin/Release/net9.0/publish (needed for Docker copy)
!**/bin/Release/net9.0/publish

