**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/charts
**/docker-compose*
**/compose*
**/.toolstarget
**/.classpath
**/.project
**/.settings
**/Dockerfile*
**/*.log
**/*.md
**/.DS_Store
LICENSE
README.md
**/node_modules
**/.env
**/docker-init

